/*-------------------------------------------------------------------------------------------
  Admin Styles
  -------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------
  Custom Metaboxes Styling
  -------------------------------------------------------------------------------------------*/
table.ale_metabox td, table.ale_metabox th { border-bottom: 1px solid #E9E9E9; }
table.ale_metabox th { text-align: right; font-weight:bold;}
table.ale_metabox th label { margin-top:5px; display:block;}
p.ale_metabox_description { color: #AAA; font-style: italic; margin: 2px 0 !important;}
span.ale_metabox_description { color: #AAA; font-style: italic;}
table.ale_metabox input, table.ale_metabox textarea { font-size:12px; padding: 5px; }
table.ale_metabox input[type=text], table.ale_metabox textarea { width: 97%; }
table.ale_metabox textarea { width: 97%; resize:vertical; }
table.ale_metabox textarea.ale_textarea_code { font-family: Consolas,Monaco,monospace; line-height: 16px; }
table.ale_metabox input.ale_text_small { width: 100px; margin-right: 15px;}
table.ale_metabox input.ale_timepicker { width: 100px; margin-right: 15px;}
table.ale_metabox input.ale_text_money { width: 90px; margin-right: 15px;}
table.ale_metabox input.ale_text_medium { width: 230px; margin-right: 15px;}
table.ale_metabox input.ale_upload_file { width: 65%; }
table.ale_metabox li { font-size:12px; margin: 1px 0 5px 0; line-height: 16px; }
table.ale_metabox ul { padding-top:5px; margin: 0; }
table.ale_metabox select { font-size:12px; margin-top: 3px;}
table.ale_metabox input:focus, table.ale_metabox textarea:focus { background: #fffff8;}
.ale_metabox_title { margin: 0 0 5px 0; padding: 5px 0 0 0; font: italic 24px/35px Georgia,"Times New Roman","Bitstream Charter",Times,serif;}
.ale_radio_inline { padding: 4px 0 0 0;}
.ale_radio_inline_option {display: inline; padding-right: 18px;}
table.ale_metabox input[type="radio"] { margin: 0 5px 0 0; padding: 0;}
table.ale_metabox input[type="checkbox"] { margin: 0 5px 0 0; padding: 0;}
table.ale_metabox .mceLayout {border:1px solid #DFDFDF !important;}
table.ale_metabox .mceIframeContainer {background:#FFF;}
table.ale_metabox .meta_mce {width:97%;}
table.ale_metabox .meta_mce textarea {width:100%;}
table.ale_metabox .ale_upload_status {  margin: 10px 0 0 0;}
table.ale_metabox .ale_upload_status .img_status {  position: relative; }
table.ale_metabox .ale_upload_status .img_status img { border:1px solid #DFDFDF; background: #FAFAFA; max-width:350px; padding: 5px; -moz-border-radius: 2px; border-radius: 2px;}
table.ale_metabox .ale_upload_status .img_status .ale_remove_file_button { text-indent: -9999px; background: url(../images/ico-delete.png); width: 16px; height: 16px; position: absolute; bottom: 0px; left: -5px;}
/* Sidebar placement adjustments */
.inner-sidebar table.ale_metabox input[type=text], table.ale_metabox textarea { width: 95%; }
.inner-sidebar table.ale_metabox .ale_upload_status .img_status img { width: 90%; }

/**
 * Timepicker
 */
div.time-picker { position: absolute; height: 191px; width:6em; /* needed for IE */overflow: auto; background: #fff; border: 1px solid #aaa; z-index: 99; margin: 0;}
div.time-picker-12hours { width:8em; /* needed for IE */}
div.time-picker ul { list-style-type: none; margin: 0; padding: 0; }
div.time-picker li { cursor: pointer; height: 10px; font: 12px/1 Helvetica, Arial, sans-serif; padding: 4px 3px; }
div.time-picker li.selected { background: #0063CE; color: #fff; }

/**
 * Gallery for about page
 */
#gallery-metabox-list li {
  float: left;
  width: 150px;
  text-align: center;
  margin: 10px 10px 10px 0;
  cursor: move;
}

.gallery_metabox_list .image_holder {
  position: relative;
}
.gallery_metabox_list .image_holder .buttons_manage {
  position: absolute;
  top:5px;
  right:5px;
  text-align: right;
}